"*":
  "activate-power-mode":
    plugins:
      playAudio: true
      screenShake: true
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "Warm-Dark-syntax"
    ]
  editor:
    showInvisibles: true
    softTabs: false
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "34efbee8-755c-4754-bb6e-5b26eb204602"
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  welcome:
    showOnStartup: false
